@tailwind base;
@tailwind components;
@tailwind utilities;
.doder{
    background: #043848;
    background-image: url(./assets/Rectangle\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
}
.doderima{
    box-shadow: 0px 73px 80px rgba(0, 0, 0, 0.06);
}